@charset 'utf-8';

.flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: flexbox;
}
/*子元素排列方向（水平方向）*/
.flex-hor {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -o-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-box-direction: normal;
    box-direction: normal;
    /*新版语法*/
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
/*子元素主轴对齐方向*/
/*居中对齐*/
.flex-center {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    box-align: center;

    -webkit-flex-pack: center;
    -moz-flex-pack: center;
    -ms-flex-pack: center;
    flex-pack: center;

    -webkit-flex-align:center;
    -moz-flex-align:center;
    -ms-flex-align:center;
    flex-align:center;
    /*新版语法*/
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}
/*伸缩项目、平均等分*/
.flex-1 {
    -prefix-box-flex: 1;      /* old spec webkit, moz */
    -webkit-box-flex: 1;      /* OLD - ios 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* Firefox 19- */
    -ms-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;          /* Chrome */
    -moz-flex: 1;
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW,  Opera 12.1, Firefox 20+ */

    -webkit-box-flex: 1.0;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;

    -webkit-box-flex: 1.0;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
}
